/**
 * @package Aerotropolis Theme Support
 * @author  Bryan Stanley <bstanley.0811@gmail.com>
 *
 * Desktop contact page
 */

.areo-contact{
  padding: 70px 0 50px 0;

  .contact-heading{
    min-width: 330px;
    width: 70%;
    display: inline-block;
    float: right;
    padding-top: 7px;
    margin-bottom: -8px;
  }

  .form-errors{
    &:before{
      content: "";
      clear: both;
    }

    float: right;
    border: solid 1px #ebccd1;
    background: #F2DEDF;
    color: #a94442;
    min-width: 330px;
    width: 70%;
    padding: 10px 15px;
    margin-top: 16px;

    ul{
      list-style-type: disc;
      padding-left: 25px;
    }
  }

  .contact-success{
    float: right;
    text-align: left;
    min-width: 330px;
    width: 70%;
    margin-top: 140px;
  }

  .contact-form{
    text-align: right;

    label{
      // display: inline-block;
      // padding-right: 10px;
      // margin-top: 4px;
      // color: #777777;
      // font-size: 14px;

      // .req{
      //   color: #AB0001;
      // }
      display: none;
    }

    form{
      display: inline-block;
      width: 70%;
      min-width: 330px;
    }

    .form-field{
      input, textarea{
        border: solid 1px #ccc;
        padding: 6px 15px;
        display: block;
        width: 100%;
        min-width: 330px;
        font: 18px/22px $font-lato;
        transition: box-shadow .2s ease-in-out;
        outline: none;

        &:focus{
          box-shadow: 0 0 5px #bbbbbb;
        }
      }

      textarea{
        resize: none;
        height: 150px;
        padding: 8px 15px;
      }
    }

    .captcha-wrapper{
      text-align: center;
    }

    .g-recaptcha{
      display: inline-block;
    }

    .submit{
      content: "";
      clear: both;
      text-align: right;
      padding-top: 10px;
    }

    .button{
      @include flatButton($darkBlue);
      display: block;
      width: 100%;
    }
  }

  .office-location-heading{
    margin: 15px 0 10px 0;
  }

  .google-map{
    width: 500px;
    height: 457px;
  }

  .contact-information{
    padding: 20px 30px;
    border: solid 1px #ccc;
    border-top: none;
    width: 500px;

    p{
      margin: 7px 0;
      line-height: 22px;

      a{
        color: $darkGrey;

        &:hover{
          color: $darkBlue;
        }
      }
    }
  }
}