/**
 * @package Aerotropolis Theme Support
 * @author  Bryan Stanley <bstanley.0811@gmail.com>
 *
 * Desktop home page
 */


// --- Full Width Video. ------------------- //
.video-wrapper{
  position: relative;
  overflow: hidden;
  background: #1B1B1B;

  .video-container{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    line-height: 0;
    display: flex;
    align-items: center;
  }

  .video-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;

    &:hover{
      .icon-play-button{
        color: $darkGrey;
      }
    }

    .icon-play-button{
      display: inline-block;
      position: absolute;
      z-index: 1;
      color: #FFFFFF;
      top: 50%;
      margin-top: -110px;
      font-size: 110px;
      margin-left: -75px;
      transition: color .2s ease-in-out;
    }

    .icon-down-arrow{
      display: inline-block;
      position: absolute;
      z-index: 1;
      color: #FFFFFF;
      bottom: 0;
      margin-bottom: 45px;
      opacity: 0.8;
      font-size: 40px;
      margin-left: -42px;
      transition: opacity .3s ease-in-out, transform .3s ease-in-out;

      &:hover{
        opacity: 1;
        transform: translate3d(0, 15px, 0);
      }
    }
  }

  video{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    flex: 0;
    // position: absolute;
    // top: -9999px;
    // left: -9999px;
    // right: -9999px;
    // bottom: -9999px;
    // margin: auto;
    // min-width: 50%;
    // min-height: 100%;
  }
}


// --- Why Detroit. ------------------- //
.overview-row{
  padding: 7vw 0;

  .content-left{
    background: #f3f3f3;
    min-height: 500px;

    &>.vc_column-inner{
      background-position: right center !important;
    }
  }

  .content-right{
    padding: 0 15px 0 35px;
    max-width: 515px;
    min-width: 310px;

    &>.vc_column-inner>.wpb_wrapper{
      display: flex;
      flex-direction: column;
      height: 100%;
    }


    h3{
      margin-bottom: 25px;
    }

    .details{
      flex: 1;
    }

    .button-wrapper{
      margin-top: 25px;
    }

    .button{
      display: block;
    }

  }
}


// --- Site Selection Items. ------------------- //

.site-selection-row{
  background: #E6E6E6;
  text-align: center;
  padding: 5vw 0;

  h2{
    margin-bottom: 30px;
  }
}

.site-selection-content{
  background: #E6E6E6;
  text-align: center;

  .card-item{
    [class^="icon-"]{
      border-radius: 100%;
      background: #84CDDF;
      color: #FFFFFF;
    }

    .icon-trophy:before{
      margin-left: 8px;
    }

    .icon-workforce:before{
      margin-left: 10px;
    }
  }
}


// --- Industry Items. ------------------- //
.our-industries-row {
  padding: 5vw 0;

  h2{
    margin-bottom: 30px;
    text-align: center;
  }
}

.industry-item{
  // width: 295px;

  .thumbnail{
    width: 295px;
    height: 204px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 23px;
    background-size: 295px auto;
  }

  h4{
    color: $darkGrey;
    flex: 1 1 70px
  }

  .details{
    display: flex;
    flex-direction: column;
  }
}

.industry-button{
  text-align: center;
  margin: 30px auto 0;
}


// --- Testimonial Slideshow. ------------------- //
.aero-testimonial-slideshow{
  // height: 500px;
  // height: 57vw;
  // min-height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 0;

  .aero-slider{
    max-width: 940px;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  .aero-testimonial-wrapper{
    padding: 60px 70px;
    background: rgba(#FFFFFF, 0.9);
    color: $grey;
    width: 840px;
    transition: opacity 0.5s ease-in-out;

    &.hidden{
      opacity: 0;
    }
  }

  .aero-nav{
    font-size: 55px;
    color: #FFFFFF;
    opacity: 0.7;
    transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;

    &.hidden{
      opacity: 0;

      &.aero-left{
        transform: translate3d(15px, 0, 0);
      }
      &.aero-right{
        transform: translate3d(-15px, 0, 0);
      }
    }

    &:hover{
      opacity: 0.9;
    }

    &.aero-left:hover{
      transform: translate3d(-10px, 0, 0);
    }
    &.aero-right:hover{
      transform: translate3d(10px, 0, 0);
    }
  }

  .aero-testimonial{
    font: 3rem/3.6rem $font-latoBold;
  }

  .aero-author{
    font: 800 2.6rem/2.6rem $font-lato;
    text-transform: uppercase;
    text-align: right;
    margin-top: 40px;
  }

  &.home{
    // height: 823px;

    .aero-slider{
      //height: 450px;
      // height: 30vw;
      height: 50rem;
    }

    h2{
      text-align: center;
      color: #FFFFFF;
      margin: 0 0 3vw 0;
    }
  }
}