/**
 * @package Aerotropolis Theme Support
 * @author  Bryan Stanley <bstanley.0811@gmail.com>
 *
 * Desktop inner pages
 */

.aero-inner-page{
  .vc_col-sm-3{
    // min-width: 340px;
  }
  .vc_col-sm-9{
    width: 75%;
    padding: 50px;
    padding-right: calc(50% - #{$maxWidth}/2);

    img.size-large{
      max-width: 100%;
      height: auto;
    }
  }

  .column-centered{
    padding: 50px 0;
  }
}

@media screen and (max-width: $maxWidth) {
  .aero-inner-page{
    .vc_col-sm-9{
      padding-right: calc(50% - #{$maxWidth}/2 + 50px);
    }
    .column-centered{
      padding: 50px 30px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .aero-inner-page{
    .vc_col-sm-3{
      display: none;
    }
    .vc_col-sm-9{
      width: 100%;
      padding: 50px 30px;
    }
  }
}