/**
 * @package Aerotropolis Theme Support
 * @author  Bryan Stanley <bstanley.0811@gmail.com>
 *
 * Modals
 */
.popmake-title{
  display: none;
}

.pum-close{
  transform: rotate(45deg);
  font-weight: bold !important;
}

.popmake-content{
  color: #7D7D7D;

  .hero{
    margin-bottom: 30px;
  }

  .content-left{
    float: left;
    width: calc(100% - 290px);
    padding-right: 29px;
  }

  .content-right{
    float: right;
    width: 280px;
  }

  &:after{
    content: "";
    display: block;
    height: 0px;
    clear: both;
  }
}