/**
 * @package Aerotropolis Theme Support
 * @author  Bryan Stanley <bstanley.0811@gmail.com>
 *
 * Desktop site selection page
 */


// --- Site Selection Hero. ------------------- //

.site-selection-hero{
  padding: 20vw 15vw 15vw;

  .content-wrapper{
    max-width: 1000px;
    margin: 0 auto;
    float: none;
    min-width: auto;
  }

  h1{
    color: #FFFFFF;
    text-align: center;
    line-height: 55px;
    margin-bottom: 6vw;
  }

  .button-wrapper{
    text-align: center;
  }
}

.top-employers-row{
  // box-shadow: 0 0 30px -3px rgba(0,0,0,0.8);
  box-shadow: 0 -10px 20px -10px rgba(0,0,0,0.8);

  .content-left{
    padding: 6vw 1vw 11vw;
    text-align: center;

    h2{
      margin-bottom: 3vw;
    }

    ul{
      display: inline-block;
      list-style: none;
      padding: 0px;
      text-align: left;
    }
  }

  .content-right{
    min-height: 300px;
  }
}

.site-selection-offer-row{
  padding: 6vw 1vw 7vw;

  h2.offer-header{
    text-align: center;
    margin-bottom: 4vw;
  }

  .content-left{
    text-align: center;
    padding-right: 30px;

    h2{
      margin-bottom: 50px;
    }

    h5{
      line-height: 27px;
      margin-bottom: 5px;
    }
  }

  .content-right{
    padding: 0 30px;

    h4{
      color: $darkGrey;
      line-height: 28px;
    }

    ul{
      margin-top: 30px;
      padding: 0px;
      list-style: none;
    }
  }
}

.site-selection-center-row{
  background: #B0DBE5;
  padding: 60px 30px;

  h2{
    text-align: center;
    margin-bottom: 4vw;
    color: #FFFFFF;
  }

  .image-teaser{
    width: 400px;
    margin-bottom: 45px;

    &.clickable{
      cursor: pointer;
    }

    .thumb-wrapper{
      height: 250px;
      overflow: hidden;
    }

    .thumbnail{
      width: 100%;
      height: auto;
      transition: transform .3s ease-in-out;
    }

    h4{
      text-align: center;
      color: #FFFFFF;
      margin-top: 15px;
      transition: color .2s ease-in-out;
    }

    &:hover{
      .thumbnail{
        transform: scale(1.05);
      }

      h4{
        color: $darkGrey;
      }
    }
  }
}
