# Ignore everything in this directory
/*

# Except these files
!.gitignore
!wp-config.php
!README.md

# Always ignore these files no matter at what level
.DS_Store
.sass-cache/
node_modules/
uploads/
wp-content/plugins/*
assets/stock/

# Except these directories
!wp-content/
!wp-content/plugins/aerotropolis-theme-support/