# Ignore everything in this directory
/*

# Except these files
!.gitignore
!wp-config.php
!README.md
!.htaccess
!db-backups.php
!wp-config.php
!annualmeeting.php

# Always ignore these files no matter at what level
.DS_Store
*.orig
.sass-cache/
node_modules/
uploads/
wp-content/plugins/*
wp-content/themes/aerotropolis/assets
wp-content/themes/aerotropolis/error_log
stock/
twentysixteen/

# Except these directories
!wp-content/
!wp-content/plugins/aerotropolis-theme-support/
