/**
 * @package Aerotropolis Theme Support
 * @author  Bryan Stanley <bstanley.0811@gmail.com>
 *
 * Global common elements
 */


/* HTML Elements */
/********************************************************/

html{
  font-family: $font-lato;
  font-size: 62.5%;
}

body {
  color: $darkGrey;
  font-size: 1.8rem;
  line-height: 2.6rem;
  // min-width: $minWidth;
}

a{
  color: $darkBlue;
  text-decoration: none;
  transition: color .1s ease-in-out;

  &:hover{
    color: $lightBlue;
  }
}

h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
}

h1{
  font: 4rem/5rem $font-latoHeavy;
  color: $darkBlue;
}

h2{
  font: 3.4rem/4rem $font-latoHeavy;
  color: $lightBlue;
}

h3{
  font: 3rem/3.5rem $font-latoHeavy;
  color: $darkGrey;
}

h4{
  font: 2.8rem/3.5rem $font-latoBold;
  color: $grey;
}

h5{
  font: 2.6rem/3rem $font-latoBold;
  color: $grey;
}

h6{
  font: 2.5rem/3rem $font-latoBold;
  color: $lightGrey;
}



/* Common Classes */
/********************************************************/

.clearfix{
  content: "";
  display: table;
  clear: both;
}