/**
 * @package Aerotropolis Theme Support
 * @author  Bryan Stanley <bstanley.0811@gmail.com>
 *
 * Global mixins
 */

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin rightArrow {
  display: inline-block;
  content: '\66';
  font: normal normal 12px/12px "aerotropolis";
  text-align: center;
}