/**
 * @package Aerotropolis Theme Support
 * @author  Bryan Stanley <bstanley.0811@gmail.com>
 *
 * Global mixins
 */

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin leftArrow{
  display: inline-block;
  content: '\65';
  font: normal normal 12px/12px "aerotropolis";
  text-align: center;
}

@mixin rightArrow {
  display: inline-block;
  content: '\66';
  font: normal normal 12px/12px "aerotropolis";
  text-align: center;
}

@mixin downArrow {
  display: inline-block;
  content: '\69';
  font: normal normal 12px/12px "aerotropolis";
  text-align: center;
}

@mixin externalLink {
  display: inline-block;
  content: '\70';
  font: normal normal 12px/12px "aerotropolis";
  text-align: center;
  margin-left: 8px;
  line-height: 28px;
  display: inline-block;
  vertical-align: top;
}