/**
 * @package Aerotropolis Theme Support
 * @author  Bryan Stanley <bstanley.0811@gmail.com>
 *
 * SASS Variables
 */


/* Paths */
/********************************************************/
$font-base-path: '../fonts';
$image-base-path: '../img';
$desktop-images: '#{$image-base-path}/desktop';


/* Fonts */
/********************************************************/
$body-font: unquote("latoregular");
$font-arial: unquote("Arial, Helvetica, sans-serif");
$font-lato: unquote("latoregular");
$font-latoBold: unquote("latobold");
$font-latoHeavy: unquote("latoheavy");
$font-latoBlack: unquote("latoblack");


/* Layout */
/********************************************************/
$maxWidth: 1270px;
$minWidth: 1155px;


/* Colors */
/********************************************************/
$aqua: #84CDDF;
$darkBlue: #0669A3;
$lightBlue: #37A2D8;
$darkGrey: #4B4B4B;
$grey: #7D7D7C;
$lightGrey: #AFAFAF;

$success-color: #07770B;
$error-color: #D40000;


/* Z Indices */
/********************************************************/
$zIndex-stickyTopMenu: 100;
$zIndex-stickySideMenu: 100;