/**
 * @package Aerotropolis Theme Support
 * @author  Bryan Stanley <bstanley.0811@gmail.com>
 *
 * Desktop footer elements
 */

// --- Footer Contact Widgets. ------------------- //

.content-bottom-widgets{
  background: url( '#{$desktop-images}/clouds.jpg' ) no-repeat center center;
  background-size: cover;

  .widget-area {
    display: flex;
    justify-content: space-between;
    max-width: $maxWidth;
    margin: 0px auto;
    align-items: center;
    min-height: 350px;
  }

  .widget {
    background: rgba(#FFFFFF, .5);
    width: 100%;
    height: 250px;
    max-width: 560px;
    padding: 35px 50px;
    transition: background-color .2s ease-in-out, transform .2s ease-in-out, box-shadow .2s ease-in-out;

    &:hover{
      &:not(.divider){
        background: rgba(#FFFFFF, .6);
        transform: scale(1.03);
        box-shadow: 0 0 25px rgba(#8E8E8E, .3);
      }
    }

    &.divider {
      width: 300px;
      background: url( '#{$desktop-images}/plane@2x.png' ) no-repeat center center;
      background-size: 129px 55px;
    }
  }

  .aero_newsletter {
    .text1, .text2 {
      color: $darkBlue;
      font: 3.2rem/4.5rem $font-latoBold;
      margin: 0px;
    }
    form {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
    }
    .message{
      flex: 1 0 100%;
      margin-top: -50px;
      text-align: center;
      margin-bottom: 5px;

      &.error{
        color: $error-color;
      }

      &.success{
        color: $success-color;
      }
    }
    input[type=text], input[type=email] {
      flex: 2 2 30px;
      padding: 7px 15px;
      font-size: 1.6rem;
      color: $darkGrey;
      width: 300px;

      @include input-placeholder {
        color: $darkBlue;
      }

      &.error{
        border: solid 1px $error-color;
      }

    }
    input[type=submit] {
      flex: 1 1 0;
      cursor: pointer;

      @include button(12px 30px, null, 1.6rem, $font-latoBold, #FFFFFF, #77B1D8);

      &:hover{
        background-color: $darkBlue;
      }
    }
  }

  .aero_more_information {
    .phone-title, .email-title{
      color: $darkBlue;
      margin: 0;
      font: 1.6rem/2.5rem $font-latoBold;
    }
    a.phone, a.email{
      font: 3.2rem/3.2rem $font-latoBold;
      display: inline-block;
      margin-bottom: 10px;
    }

    .button{
      @include button(12px 30px, null, 1.6rem, $font-latoBold, #FFFFFF, #77B1D8);
      display: block;
      margin-top: 16px;

      &:hover{
        background-color: $darkBlue;
      }
    }
  }
}




// --- Footer. ------------------- //



.site-footer{
  background: #0669A3;
  padding: 35px 15px 50px 15px;

  .content-wrapper{
    max-width: $maxWidth;
    // min-width: $minWidth;
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer-links{
  flex: 1 0 auto;
  display: flex;

  .footer_menu{
    li {
      margin-right: 30px;
      line-height: 0;

      a{
        font: 2.2rem/3.6rem $font-latoBlack;
        text-transform: uppercase;
        color: #fff;

        &:hover{
          color: #989898;
        }
      }
    }
  }
}

.footer-social{
  max-width: 295px;
  flex: 0 0 auto;

  .search-form{
    padding: 0;
    width: 295px;
  }

  .social-links{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    a{
      color: #FFF;
      font-size: 40px;
      transition: transform .2s ease-in-out;
    }
  }

  .copyright{
    margin-top: 35px;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
  }
}

.footer-latest-news{
  flex: 0 0 auto;
  width: 266px;
  display: inline-block;
  padding-left: 45px;
  color: #FFFFFF;

  .title{
    line-height: 20px;
    margin-bottom: 0;

    a{
      color: #FFFFFF;
      font: 1.6rem/1.7rem $font-latoBold;
      text-transform: uppercase;

      &:hover{
        color: #FFFFFF
      }
    }
  }

  .date{
    font: 1.6rem/1.7rem $font-lato;
    margin-top: 5px;
  }

  .excerpt {
    font: 1.2rem/1.5rem $font-lato;
  }

  .button.outline.white{
    display: block;
    margin-top: 30px;

    &:hover{
      color: #0669A3;
    }
  }
}