/**
 * @package Aerotropolis Theme Support
 * @author  Bryan Stanley <bstanley.0811@gmail.com>
 *
 * Desktop header elements
 */


// --- Main Navigation. ------------------- //

.hamburger-menu{
  width: 40px;
  height: 40px;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  right: 25px;
  top: 28px;
  z-index: 1;
  display: none;

  span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #F5F5F5;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2), &:nth-child(3) {
      top: 11px;
    }

    &:nth-child(4) {
      top: 22px;
    }
  }

  &.open{
    span{
      &:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
      }
    }
  }
}

.main-nav{
  background: #4B4B4B;
  position: relative;
  z-index: $zIndex-mainMenu;

  .content-wrapper{
    max-width: $maxWidth;
    //min-width: $minWidth;
    margin: 0px auto;
    position: relative;
    padding-left: 30px;
    line-height: 0;
  }

  &.sticky{
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: $zIndex-stickyTopMenu;

    .buildings{
      opacity: 0;
      transform: translate3d(-155px, 0, 0);
    }

    .text{
      transform: translate3d(-155px, 0, 0);
    }
  }

  li.menu-property-search{
    text-align: center;
    margin-top: 15px;
    color: $darkBlue;

    a{
      @include button(10px 35px, null, 22px, $font-latoBold, $darkBlue, #FFFFFF);
      @include outlineButton($darkBlue);
      background: none;
    }
  }
}

.mobile{
  .menu-main-menu-container{
    height: 82px;
    position: relative;
  }

  .main-nav{
    .content-wrapper{
      padding-left: 0;
    }

    li.menu-property-search{
      text-align: left;
      margin-top: 0;

      a{
        display: block;
        text-align: left;
        padding: inherit;
        text-transform: none;
        font: inherit;
        border: none;
        padding: 15px 20px;
        font-size: 16px;
        font-family: $font-latoHeavy;
        line-height: 16px;
        color: #F5F5F5;

        &:hover{
          background: #3E3E3E;
        }
      }
    }
  }

  .main_menu{
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .sf-menu{
    .menu-item-has-children{
      position: relative;
      &:after{
        @include downArrow;
        position: absolute;
        top: 18px;
        right: 30px;
        color: #F5F5F5;
        transform: rotate(-90deg);
        transition: transform 0.2s ease-in-out;
      }

      &.opened{
        &:after{
          transform: rotate(0deg);
        }
      }
    }
  }
}

.aerotropolis-logo{
  width: 373px;
  height: 138px;
  position: absolute;
  left: 0px;
  top: -48px;
  z-index: 10;

  .buildings{
    @include retina-sprite( 'logo-buildings', desktop );
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
  }

  .text{
    @include retina-sprite( 'logo-text', desktop );
    margin-top: 30px;
    transition: transform .5s ease-in-out;
  }
}


// --- Secondary Navigation. ------------------- //

.menu-secondary-main-menu-container{
  display: inline-block;
  vertical-align: middle;
}

ul.secondary_menu{
  font-size: 0px;
  text-align: right;

  li{
    font: 14px/14px $font-latoBold;
    display: inline-block;

    a {
      color: #7D7D7C;
      display: block;
      padding: 21px 18px;

      &:hover{
        color: #4B4B4B;
      }
    }
  }
}

.secondary-nav{
  .content-wrapper{
    max-width: $maxWidth;
    margin: 0px auto;
    position: relative;
  }

  .search-form {
    .search-field{
      opacity: 0;
      width: 0;
      height: 0;
    }

    .search-submit{
      color: #7D7D7C;
      background: none;
    }

    &:hover {
      .search-field {
        width: 300px;
        height: auto;
        opacity: 1;
        transition: opacity .5s ease-in-out;
      }
      .search-submit {
        background: #7D7D7C;
        color: #FFFFFF;
      }
    }
  }
}
